:root {
  --background-color: #fafafa;
}

body {
  background-color: var(--background-color);
}

.main-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-row {
  text-align: center;
  margin-bottom: 25px;
}

.card-deck {
  margin-bottom: 50px;
}

.card-img-top {
  height: 350px;
  object-fit: fill;
}
