:root {
  --background-color: #c8ccd3;
  --border-color: #b21e3a;
  --container-color: white;
}

body {
  text-align: center;
  background-color: var(--background-color);
}

.main-container {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  max-width: 75%;
  margin-top: 50px;
  padding: 20px;
}
