:root {
  --background-color: #3a3c4f;
  --container-color: #dbd8d7;
  --calc-color: #8d948e;
}

body {
  text-align: center;
  background-color: var(--background-color);
}

form, #results {
  background-color: var(--calc-color);
  max-height: 35%;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-container {
  background-color: var(--container-color);
  border-radius: 10px;
  min-height: 75%;
  max-width: 80%;
  margin-top: 50px;
  padding: 20px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
